body{
    color: black;
    background: lightgray;
}

h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
h1.small{
    font-variant: small-caps;
}

h3{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
}