body{
    color: black;
    background-image: url("https://lh3.googleusercontent.com/FFrw95WWem7Cp3pz2VxtkXtRCk2wzyNP2zH9e7KDjC8AZhChE9CbVRsR1g4EweIY1RBFG26uWZXx0bBmLmZchEqXV4wq8rhkUZwQvVqhQbZjAe5glhm8QtQiKm9uHY-VNe5__diT76dxxKJRHFdv_f7kxiRLloPS02_H97nJghyLCfPoowpqS829rSLGNy4OA3iU9Re26TjRKEgYuv4hBFdRVrhhsRlNptbX3njajPZ7gDMuzElwwdBPc4ZjUZNTSIAPiXhFPrbkWOgrn4difc_eFfGZjh5cLPj7c-H34_yuVNId0G3J3yDpRK97F2jKCQExqxNP4TOxXwvou9MjJoCksLVlA9eJnobTrWJg3rSITx22ynQHp1sPrO-n3MP5IjICuxrUCA-nGRQfrYX08WDRYbQz9M33x2iNFTsojKClLudZeKQu0VKKZ1Fqp88ua-ghWpvRC4P8Q5oGQQvpMgQW9HdamhEY1B9PA8eZGkf81bT4L2mm-9JYnnEHIQrtiS6Zc9Pa_ORcl2-zZ-YO68CXq6zFRpwHnQOYZxyDXi3I89iOO-bhw_G34DraGEwFjxCL9X9dcw1qpIQtz7gOKnIvumkkqCdc7WC0PffGiQpkp5LuvsPrA5mlq-fyhYNDNFiabwVoO6-ia8sq7DLv411Vcwd2taucTMLDKbKAOVuTPbOzAg0jiJTSfRutd0Dtw0dgLXVMuGasIXYJ_WRHcNCLEjMYdV-pwYQc7_VLMjU0Eek=w1870-h1246-no");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
h1.small{
    font-variant: small-caps;
}

h3{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

#wrap{
    width: 900px;
    margin: 0 auto;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcyan;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: blue;
}

li a:hover {
    background-color: gray;
}

.active {
    background-color: lightgray;
}
